

<%= simple_form_for(@booking, url:  bookings_path, html: { class: 'form-inline' }) do |f| %>

  <%= f.error_notification %>
  <%= f.input :plane_id, as: :hidden, input_html: { value: plane.id } %>
  <%= f.input :people, label: false, collection: 1..20, prompt: "personnes" %>


  <div class="input-daterange input-group" id="datepicker">
    <input type="text" placeholder="Check in" class="input-sm form-control" name="booking[check_in]" />
    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    <input type="text"  placeholder="Check out" class="input-sm form-control" name="booking[check_out]" />
  </div>

  <%= f.button :submit, "Réserver", class: "btn btn-success" %>
<% end %>


<%= content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.input-daterange').datepicker();
    });
  </script>
<% end %>