

<div class="container-fluid padded">
  <div class="row">
    <div class="col-md-10 col-md-offset-2">


    <div class="user-profile">
      <!-- link to profile_picture -->
      <div class="col-sm-2 right">
        <%= image_tag profile_picture(:medium), class: "img-thumbnail" %>
      </div>

      <div class="col-sm-8">
        <div class="left-padded">
          <% if @user.firstname || @user.lastname %>
            <h1><%= @user.firstname.capitalize %> <%= @user.lastname.capitalize %></h1>
          <% end %>

          <br><br>

          <table class="table table-striped">
            <tr>
              <td>Email</td>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <td>Phone number</td>
              <td><%= @user.phone_number %></td>
            </tr>
            <tr>
              <td>Pilot</td>
              <td>
                <% if @user.pilot %>
                  <i class="fa fa-check"></i>
                <% else %>
                  <i class="fa fa-times"></i>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>Description</td>
              <td><%= @user.description %></td>
            </tr>
            <tr>
              <td>Aeroclub</td>
              <td><%= @user.aeroclub %></td>
            </tr>
            <tr>
              <td>Flight hours</td>
              <td><%= @user.flight_hours %></td>
            </tr>
            <tr>
              <td>Update your profile</td>
              <td><%= link_to "Update profile", edit_user_registration_path, class: "btn btn-success pull-right" %></td>
            </tr>
          </table>
        </div>
      </div>
  </div>
</div>
</div>
