

<div class="container-fluid padded">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">


    <div class="user-profile">
      <!-- link to profile_picture -->
      <div class="col-sm-4 right">
        <%= image_tag profile_picture(:medium), class: "img-circle" %>
      </div>

      <div class="col-sm-6">
        <div class="left-padded">
          <% if @user.firstname || @user.lastname %>
            <h1><%= @user.firstname.capitalize %> <%= @user.lastname.capitalize %></h1>
          <% end %>

          <br><br>

          <dl class="dl-horizontal">
            <dt>Email</dt>
            <dd><%= @user.email %></dd>
            <dt>Phone number</dt><dd><%= @user.phone_number %></dd>
            <dt>Pilot</dt><dd>
              <% if @user.pilot %>
                <i class="fa fa-check"></i>
              <% else %>
                <i class="fa fa-times"></i>
              <% end %>
             </dd>
            <dt>Description</dt><dd><%= @user.description %></dd>
            <dt>Aeroclub</dt><dd><%= @user.aeroclub %></dd>
            <dt>Licensing</dt><dd><%= @user.licensing %></dd>
            <dt>License type</dt><dd><%= @user.license_type %></dd>
            <dt>Flight hours</dt><dd><%= @user.flight_hours %></dd>
          </dl>
          <%= link_to "Update profile", edit_user_registration_path, class: "btn btn-success pull-right" %>
        </div>
      </div>
  </div>
</div>
</div>
