
<div class="row">
  <div class="col-sm-2 right">
      <%= image_tag booking.plane.picture.url(:medium),  class: "img-thumbnail" %>
  </div>

  <div class="col-md-7 col-md-offset-1">
    <table class="table table-striped">
      <tr>
        <td>Aeroclub de base</td>
        <td><%= booking.plane.aeroclub %></td>
      </tr>
      <tr>
        <td>Nombre de personnes</td>
        <td>
          <% booking.people.times do %>
            <i class="fa fa-male"></i>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Prix de réservation (indicatif)</td>
        <td><%= booking.plane.price %> <i class="fa fa-eur"></i> </td>
      </tr>
      <tr>
        <td>Propriétaire de l'avion </td>
        <td><%= booking.plane.user.firstname %> <%= booking.plane.user.lastname %></td>
      </tr>
      <tr>
        <td>Date de check in</td>
        <td><%= booking.check_in.strftime("%d %B %Y") %></td>
      </tr>
       <tr>
        <td>Date de check out</td>
        <td><%= booking.check_out.strftime("%d %B %Y") %></td>
      </tr>
      <tr>
          <%= render 'booking_status', booking: booking %>
      </tr>
    </table>
  </div>
</div>
